.logo-link {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    display: flex;
padding: 10px;
    color: #000912;
    background-image: linear-gradient(#86c0ef, #e6f2fb);
}
nav:not(:first-of-type)
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(134 192 239);
    gap: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(#e6f2fb, #86c0ef);



}

nav button {
    font-family:"Helvetica";
    font-size: 15px;
    padding: 8px 16px;
    background-color: rgb(103 182 255);
    border-block-style: groove;
    font-weight: bold;


}

a:hover:not(:last-of-type) {
    font-size: 3px;
    padding: 2px 2px;
    background-color: #0a4487;
}

body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(#e6f2fb);
    font-family: 'Inter', sans-serif;
    @import url('https://googleapis.com');
}

main {
    padding-left: 20px;
    border: none;


}


img {
    display: block;

    margin-top: 10px;
}

.mig {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 750px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}

.skole{
    text-align: center;
    font-size: 3rem;
}
.kasse-container {
    display: flex;
    flex-direction: column;

}

.folkeskole {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 800px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;

}

.gymnasium  {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 800px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;
}

.linje {
    margin-top: 18rem;
    margin-bottom: 0rem
}

.kontakt{
    margin: 1.3rem;

}
.cvb:hover {
    font-size: 15px;
    padding: 2px 12px;
    background-color: #86c0ef;
}
.kontainer {
    display: flex;
    flex-direction: column;

}

.arbejde {
    text-align: center;
    font-size: 3rem;
}

.bakken {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 800px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;
}

.cph {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 800px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;
}

.pro {
    text-align: center;
    font-size: 3rem;
}

.projekter {
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(139 197 255);
    width: 800px;
    border-block-style: groove;
    border-radius: 8px;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;
}

